
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') Node.js Passport Boilerplate
        .nav-collapse.collapse
          ul.nav.pull-right
            li

            if (req.isAuthenticated())
              li
                a(href="/users/"+req.user.id, title="Profile") Profile
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/login", title="Login") Login
