body {
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
}
.socials img {
  width: 82px;
}
.navbar-nav.pull-right {
  margin-top: 16px;
}
.lead {
  font-size: 30px;
  margin-top: 32px;
}
.mast {
  font-size: 20px;
}
.mast li{
  line-height: 36px;
}