extends ../layouts/default

block main
  h1 NodeJS Passport Boilerplate
  iframe(src='http://ghbtns.com/github-btn.html?user=diki&repo=nodejs-passport-boilerplate&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='122', height='20') 
  iframe(src='http://ghbtns.com/github-btn.html?user=diki&repo=nodejs-passport-boilerplate&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='122', height='20') 
  div.well(style='text-align:left')
      h3 This page is demonstration of 
        a(href='https://github.com/diki/nodejs-passport-boilerplate') this project.
      
      h3 What is this project?
      div It is a nodejs application including:  
      ul 
        li login, signup with Passport (local, google, facebook, twitter and github)
        li front end pages for login, signup and profile with bootstrap
        li a well designed project structure to start your nodejs application
        //a(href='https://github.com/diki/nodejs-passport-boilerplate') github page

      h3 Technology
      table
        tr
          th(style='width:120px; border-bottom:1px solid black') Server
          th(style='width:120px; border-bottom:1px solid black') Client
        tr
          td Express
          td Bootstrap
        tr
          td Jade
          td jQuery
        tr
          td Passport
          td underscorejs
        tr
          td Mongoose
          td 

      h3 Quick deploy:
      div(style='margin: 10px 10px;')
        p $ git clone https://github.com/diki/nodejs-passport-boilerplate.git
        p $ npm install 
        p create "config.js" file under config folder (see config example)
        p $ npm start
        p open localhost:3000 in your browser

