extends ../layouts/default

block main
  h1 Passport Boilerplate


  pre
    code clone project
    br
    code npm install 
    br
    code npm start
    br
    code open localhost:3000 in your browser
