extends ../layouts/default

block main
  h1 NodeJS Passport Boilerplate


  div.well(style='text-align:left')
      h3 check out this demo to see it in action!
      <br>
      h3 or deploy:

      div(style='margin: 10px 10px;')
        p $ git clone https://github.com/diki/nodejs-passport-boilerplate.git
        p $ npm install 
        p create "config.js" file under config folder (see config example)
        p $ npm start
        p open localhost:3000 in your browser

