{% extends '../layouts/default.html' %}

{% block main %}
  <h1>NodeJS Passport Boilerplate</h1>
  <iframe src="http://ghbtns.com/github-btn.html?user=diki&amp;repo=nodejs-passport-boilerplate&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="122" height="20"> </iframe>
  <iframe src="http://ghbtns.com/github-btn.html?user=diki&amp;repo=nodejs-passport-boilerplate&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="122" height="20"> </iframe>
  <div style="text-align:left" class="well">
    <h3>This page is demonstration of <a href="https://github.com/diki/nodejs-passport-boilerplate">this project.</a></h3>
    <h3>What is this project?</h3>
    <div>It is a nodejs application including:  </div>
    <ul> 
      <li>login, signup with Passport (local, google, facebook, twitter and github)</li>
      <li>front end pages for login, signup and profile with bootstrap</li>
      <li>a well designed project structure to start your nodejs application</li>
      <!--a(href='https://github.com/diki/nodejs-passport-boilerplate') github page-->
    </ul>
    <h3>Technology</h3>
    <table>
      <tr>
        <th style="width:120px; border-bottom:1px solid black">Server</th>
        <th style="width:120px; border-bottom:1px solid black">Client</th>
      </tr>
      <tr>
        <td>Express</td>
        <td>Bootstrap</td>
      </tr>
      <tr>
        <td>Jade</td>
        <td>jQuery</td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>underscorejs</td>
      </tr>
      <tr>
        <td>Mongoose</td>
        <td> </td>
      </tr>
    </table>
    <h3>Quick deploy:</h3>
    <div style="margin: 10px 10px;">
      <p>$ git clone https://github.com/diki/nodejs-passport-boilerplate.git</p>
      <p>$ npm install </p>
      <p>create "config.js" file under config folder (see config example)</p>
      <p>$ npm start</p>
      <p>open localhost:3000 in your browser</p>
    </div>
  </div>
{% endblock %}
