{% extends '../layouts/default.html' %}

{% block content %}
  
  <div class="col-md-4 col-md-offset-4">
    <iframe src="http://ghbtns.com/github-btn.html?user=diki&amp;repo=nodejs-passport-boilerplate&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="122" height="20"> </iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=diki&amp;repo=nodejs-passport-boilerplate&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="122" height="20"> </iframe>
  </div>
  <div class="col-md-12">
    <p class="lead">Use this project to quickly start your next node.js project</p>
    
    <div class="mast">
      <ul style="list-style:none;" class="leadlist"> 
        <li class="text-muted">
          <p>
            <span class="fa fa-user"></span>
            <span>login, signup with Passport (local, google, facebook, twitter and github)</span>
          </p>

        </li>
        <li class="text-muted">
          <p>
            <span class="fa fa-tags"></span>
            front end pages for login, signup and profile with Bootstrap
          </p>
        </li>
        <li class="text-muted">
          <p>
            <span class="fa fa-cubes"></span>
            a well designed project structure to start your nodejs application
          </p>
        </li>
      </ul>
    </div>
<!--     <h3>Technology</h3>
    <table>
      <tr>
        <th style="width:120px; border-bottom:1px solid black">Server</th>
        <th style="width:120px; border-bottom:1px solid black">Client</th>
      </tr>
      <tr>
        <td>Express</td>
        <td>Bootstrap</td>
      </tr>
      <tr>
        <td>Swig</td>
        <td>jQuery</td>
      </tr>
      <tr>
        <td>Passport</td>
        <td>underscorejs</td>
      </tr>
      <tr>
        <td>Mongoose</td>
        <td> </td>
      </tr>
    </table>
    <h3>Quick deploy:</h3>
    <div style="margin: 10px 10px;">
      <p>$ git clone https://github.com/diki/nodejs-passport-boilerplate.git</p>
      <p>$ npm install </p>
      <p>create "config.js" file under config folder (see config example)</p>
      <p>$ npm start</p>
      <p>open localhost:3000 in your browser</p>
    </div> -->
  </div>
{% endblock %}
