!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    a(href='https://github.com/diki/nodejs-passport-boilerplate') 
      img(style='z-index:9999;position: absolute; top: 0; left: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png', alt='Fork me on GitHub')  
    .wrapper
      include ../includes/header
      .container
        .main-content
          .main-head
            block main
          block content
      .push
    include ../includes/footer
    include ../includes/foot
